#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/rgb.h>

&mt {
	tapping-term-ms = <175>;
	quick-tap-ms = <175>;
	require-prior-idle-ms=<125>;
	flavor = "balanced";
};

/ {
	keymap {
		compatible = "zmk,keymap";

		layer_0 {
			bindings = <
				&kp ESC		&kp Q		&kp W		&kp E		&kp R		&kp T		&kp Y		&kp U		&kp I		&kp O		&kp P			&kp DEL
				&kp PSCRN	&mt LGUI A	&mt LALT S	&mt LSHFT D	&mt LCTRL F	&kp G		&kp H		&mt LCTRL J	&mt LSHFT K	&mt LALT L	&mt LGUI SEMI	&kp SQT
				&kp MINUS	&kp Z		&kp X		&kp C		&kp V		&kp B		&kp N		&kp M		&kp COMMA	&kp DOT		&kp FSLH		&kp EQUAL
													&kp LSHFT	&lt 1 TAB	&kp BSPC	&kp SPACE	&lt 2 ENTER	&kp LSHFT
			>;
			display-name = "HOME";
		};

		layer_1 {
			bindings = <
				&kp ESC				&kp N1			&kp N2			&kp N3			&kp N4		&kp N5		&kp N6		&kp N7			&kp N8			&kp N9		&kp N0			&kp DEL
				&kp PSCRN			&mt LGUI GRAVE	&mt LALT MINUS	&mt LSHFT PLUS	&kp LCTRL	&none		&kp LBKT	&mt LCTRL RBKT	&mt LSHFT BSLH	&kp LALT	&mt LGUI SEMI	&kp SQT
				&ext_power EP_TOG	&kp TILDE		&kp UNDER		&kp EQUAL		&kp DEL		&kp BSPC	&kp LBRC	&kp RBRC		&kp COMMA		&kp DOT		&kp SLASH		&none
																	&trans			&trans		&trans		&trans		&trans			&trans
			>;
			display-name = "SYMB";
		};

		layer_2 {
			bindings = <
				&kp ESC			&kp F1		&kp F2		&kp F3			&kp F4			&kp C_BRI_UP	&kp C_VOL_UP	&kp HOME	&kp PG_DN	&kp PG_UP	&kp END		&rgb_ug RGB_BRI
				&to 3			&mt LGUI F5 &mt LALT F6	&mt LSHFT F7	&mt LCTRL F8	&kp CAPS		&kp K_MUTE		&kp LEFT	&kp DOWN	&kp UP		&kp RIGHT	&rgb_ug RGB_TOG
				&rgb_ug RGB_EFF	&kp F9		&kp F10		&kp F11			&kp F12			&kp C_BRI_DN	&kp C_VOL_DN	&kp K_PREV	&kp K_PP	&kp K_NEXT	&kp K_CMENU	&rgb_ug RGB_BRD
														&trans			&trans			&trans			&trans			&trans		&trans
			>;
			display-name="NAV";
		};

		layer_3 {
			bindings = <
				&kp ESC	&kp TAB		&kp Q	&kp W	&kp E 		&kp R		&kp N1		&kp N2		&kp N3	&kp N4		&kp N5		&kp PG_UP
				&kp I	&kp LSHFT	&kp A	&kp S	&kp D 		&kp F		&kp N6		&kp N7		&kp N8	&kp N9		&kp N0		&kp PG_DN
				&kp M	&kp LCTRL	&kp Z	&kp X	&kp C 		&kp V		&kp MINUS	&kp COMMA	&kp DOT	&kp SEMI    &kp SLASH	&kp BSLH
											&mo 4	&kp ENTER	&kp SPACE	&kp SPACE	&kp LALT	&kp LSHFT
			>;
			display-name = "GAME";
		};

		layer_4 {
			bindings = <
				&kp ESC	&kp TAB		&kp L	&kp W	&kp T 		&kp O		&kp F1		&kp F2		&kp F3	&kp F4		&kp F5		&kp F6
				&kp P	&kp LSHFT	&kp A	&kp S	&kp D 		&kp G		&kp LEFT	&kp DOWN	&kp UP	&kp RIGHT	&kp HOME	&kp END
				&kp J	&kp LCTRL	&kp B	&kp N	&kp H 		&kp K		&kp F7		&kp F8		&kp F9	&kp F10		&kp F11		&kp F12
											&none	&kp ENTER	&kp SPACE	&kp SPACE	&kp LALT	&to 0
			>;
			display-name = "GAME+";
		};

	};
};
